<?xml version="1.0" encoding="UTF-8"?>
<config>
    <database>
        <driver value="QSQLITE"/>
        <name value="openphysio"/>
        <file value="../openphysio/database/openphysio.db"/>
        <host value="localhost"/>
        <user value="openphysio"/>
        <pw value=""/>
    </database>
    <surgery>
        <surgid value="1"/>
    </surgery>
    <display>
        <table_colormode value="true"/>
        <colRunning value="255,255,255,255"/>
        <colDone value="189,194,231,255"/>
        <colReminder value="231,98,45,255"/>
        <colPayed value="255,255,255,255"/>
        <colCleared value="129,220,157,255"/>
        <colOpen value="231,189,45,255"/>
        <colCanceled value="189,194,231,255"/>
        <colInactive value="180,180,180,255"/>
    </display>
    <printer>
        <prndev_receipe value="0"/>
        <prndev_doc value="0"/>
        <prndev_dates value="0"/>
        <prndlg_receipe value="true"/>
        <prndlg_doc value="true"/>
        <prndlg_dates value="true"/>
        <ofx value="0"/>
        <ofy value="0"/>
    </printer>
    <reader>
        <rdevice value="6"/>
        <api value="0"/>
        <lib value="C:/WINDOWS/system32/CTPCSC31kv.dll"/>
        <readofs value="0"/>
        <port value="1"/>
        <select value="false"/>
        <term value="1"/>
    </reader>
    <roles>
        <default_role value="0"/>
    </roles>
    <backup>
        <dir_backup value="bak/"/>
    </backup>
    <docs>
        <template_invoice count="1" value1="rechnung.txt" descr1="Rechnung"/>
        <template_report count="2" value1="therapiebericht.txt" descr1="Therapiebericht" value2="entwicklungsstand.txt" descr2="Entwicklungsstand (Kinder)"/>
        <template_quittance_standard count="1" value1="standardquittung.txt" descr1="Quittung"/>
        <template_quittance_addpay count="1" value1="zuzahlungsquittung.txt" descr1="Zuzahlungsquittung"/>
        <template_reminder count="2" value1="mahnung.txt" descr1="1. Zahlungserinnerung" value2="mahnung2.txt" descr2="2. Zahlungserinnerung"/>
        <template_participance count="2" value1="teilnahmebestaetigung.txt" descr1="Teilnahmebestätigung" value2="teilnahmebescheinigung.txt" descr2="Teilnahmebescheinigung nach §20 SGB V"/>
        <template_partlist count="1" value1="teilnehmerliste.txt" descr1="Teilnehmerliste"/>
        <template_correction count="2" value1="rezeptkorrektur.txt" descr1="Rezeptkorrektur Physio" value2="rezeptkorrektur18.txt" descr2="Rezeptkorrektur Ergo"/>
        <template_schedule count="1" value1="" descr1=""/>
        <template_muster13 count="1" value1="muster13.txt" descr1="Muster 13"/>
        <template_muster18 count="1" value1="muster18.txt" descr1="Muster 18"/>
    </docs>
    <app>
        <debug value="true"/>
        <dir_doc value="doc/"/>
        <dir_templates value="templates/"/>
    </app>
    <courses>
        <default_duration value="60"/>
        <default_units value="10"/>
    </courses>
    <planner>
        <work_start value="7"/>
        <work_end value="19"/>
        <work_days value="5"/>
        <work_interval value="20"/>
        <planview value="1"/>
        <maxresdisplay value="6"/>
        <render_start_end value="1"/>
        <colTherapy value="207,216,230,255"/>
        <colCourse value="227,203,214,255"/>
        <colMeeting value="213,236,188,255"/>
        <colTraining value="255,255,255,255"/>
        <colHoliday value="255,255,255,255"/>
        <colCorpHoliday value="255,255,255,255"/>
        <colOther value="255,255,255,255"/>
    </planner>
    <hotkeys>
        <F01 value="7"/>
        <F02 value="3"/>
        <F03 value="4"/>
        <F04 value="0"/>
        <F05 value="5"/>
        <F06 value="0"/>
        <F07 value="0"/>
        <F08 value="0"/>
        <F09 value="0"/>
        <F10 value="6"/>
        <F11 value="0"/>
        <F12 value="1"/>
    </hotkeys>
    <other>
        <preload value="1"/>
        <reminder_period value="14"/>
    </other>
    <admin>
        <access value=""/>
    </admin>
</config>
